*.opensdf
SimpleSwitcher.sdf
SimpleSwitcher/SimpleSwitcher.aps
SimpleSwitcher/SimpleSwitcher.vcxproj.user
/ipch
/*Debug
/*Release
/SimpleSwitcher/*Debug
/SimpleSwitcher/*Release
SimpleSwitcher.v12.suo